  <h2>Lista aktorów:</h2>

  <% @actors.each do |actor| %>

  <table>
    <tr>
      <th><strong>Imię nazwisko:</strong></th>
      <th><%= actor.name_surname %></th>
      <td><%= link_to "Pokaż opis", actor_path(actor) %></td>
    </tr>

    <tr>

    </tr>
    <% end %>
  </table>

  <p><%= link_to "Dodaj aktora", new_actor_path %></p>

  <p><%= link_to "Wróć", films_path %></p>
